.main-content {
    padding: 150px 20px 45px !important;
}
body {
    font-family: var(--font);
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: var(--radio_box);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 480px;
}
    .form-container h2 {
        text-align: center;
        margin-bottom: 25px;
        color: #333;
        font-size: 32px;
    }

.form-group {
    margin-bottom: 16px;
}

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 6px;
        color: #333;
        font-size: 17px;
    }

.form-group input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--radio_input);
    font-size: 16px;
}


.password-container {
    position: relative;
}

    .password-container i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

input:focus {
    border-color: gray;
    outline: none;
}

.text-danger {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.remember-section {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.form-check-label {
    font-size: 14px;
    cursor: pointer;
}

.flex-container {
    display: flex;
    font-size: 16px;
    font-style:normal;
}

.btnForgot {  
    text-decoration: none;
    margin-left: auto;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--button);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: var(--radio_input);
    margin-top: 16px;
}

    input[type="submit"]:hover {
        background-color: var(--button_hover);
    }

.Link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Link label {
    color: #333;
    font-size: 16px;
    font-style: italic;
}

.btnLink {
    margin-left: 20px;
    color: var(--button);
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.btnLink:hover {
    color: var(--button_hover);
}
