h2 {
    color: #000;
}

body {
    color: #000;
}

svg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.graphy {
    stop-opacity: 1;
}

.o0 {
    stop-color: #977DFF;
}

.o1 {
    stop-color: #0033FF;
}

.o2 {
    stop-color: #0600AB;
}

.st0 {
    opacity: 0.4;
    fill: url(#grad);
    stroke: #1a002a00;
    stroke-width: 0;
}
