@model Web_truyen.Models.Truyen
@using Web_truyen.App_Start

@{
    ViewBag.Title = "Thêm mới truyện";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
    ViewBag.TheLoai = ViewBag.TheLoaiId;
}
<link href="~/Assets/Admin/css/truyen/ThemTruyen.css" rel="stylesheet" />
<link href="~/Assets/Admin/css/_head.css" rel="stylesheet" />

@section top {
    <div class="container_head">
        <button id="back" onclick="history.back()" class="btn-back">
            <i class="fas fa-chevron-left fa-2x" style="color: gray"></i>
        </button>

        <div class="containes-text">
            <div class="title-author">
                <h4 class="text-center" style="color:gray;">Thêm truyện mới</h4>
                <h2 class="text-title">Truyện chưa có tiêu đề</h2>
            </div>
        </div>
        <div class="btn_link mt-4">
            <button type="button" id="btnCancel" class="btn btn1" data-url="@Url.Action("DanhSach", "Truyen", new { area = "Admin" })">Huỷ</button>
            <button type="button" id="btnSaveAndNext" class="btn btn2">Tiếp tục</button>
        </div>

    </div>
}
@Html.Partial("_themTruyen", Model)
<script src="~/Assets/Admin/js/truyen/Themtruyen.js"></script>